 #Base settings 
#BasedOnStyle: LLVM
BasedOnStyle: Google
Language: Cpp
Standard: Cpp11
ColumnLimit: 80
MaxEmptyLinesToKeep: 2

 #Indentation settings
IndentWidth: 4
TabWidth: 4
UseTab: Never
PointerAlignment: Left
AccessModifierOffset: -4
IndentCaseLabels: false
ContinuationIndentWidth: 4
NamespaceIndentation: None

 #Alignments
AlignEscapedNewlinesLeft: true
AlignConsecutiveAssignments: false
AlignTrailingComments: true

 #Spacing rules
SpaceBeforeParens: ControlStatements
SpaceBeforeAssignmentOperators: true
SpaceAfterCStyleCast: false
SpacesInAngles: false
SpacesInContainerLiterals: true

 #Wrapping and breaking rules
BreakBeforeBraces: Attach
BreakBeforeBinaryOperators: false
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true

 #Brace wrapping options
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterControlStatement: true
  AfterEnum: true
  BeforeElse: true
  IndentBraces: false
Cpp11BracedListStyle: true

 #Short code block rules
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
